---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
---

<BaseLayout title="test title from index page">
	<p>Astro is pretty neat, and really easy to use!</p>
	<p>By placing content inside of is Layout, it's being inserted where the Slot is in the template, which is really neat!</p>
	<h2>Astro has a lot of benefits</h2>
	<ul>
		<li>It ships zero JavaScript by default</li>
		<li>Very customizable</li>
		<li>Framework agnostic (you don’t need to use a JS framework, or you can use React, Svelte, Vue, etc. (or even combine them))</li>
		<li>Fantastic documentation</li>
		<li>Easy to level up with</li>
	</ul>

	<Button href="#" type="primary">Button test</Button>
	<Button href="#" type="secondary">Button test</Button>
	<Button>Button test</Button>

</BaseLayout>