---
---

<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog/blog-post-1">Blog 1</a></li>
      <li><a href="/blog/blog-post-2">Blog 1</a></li>
      <li><a href="/blog/blog-post-3">Blog 3</a></li>
    <ul>
</nav>
  
<style lang="scss">
    @use '../styles/_abstracts.scss' as *;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 1rem;
  
      a {
        color: $primary;
  
        &:hover,
        &:focus {
          color: $secondary;
        }
      }
    }
  </style>
  